<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cancelRegistration()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-color: var(--ion-color-fondo);">
  <div style="padding: 20px;">

    <div class="form-group">
      <label>Nombre del Producto</label>
      <input type="text" [(ngModel)]="nombreProducto" placeholder="" />
    </div>

    <div class="form-group">
      <label>Cantidad</label>
      <input type="number" [(ngModel)]="cantidad" placeholder="" />
    </div>
    
    <div class="form-group">
      <label>Precio de Venta</label>
      <input type="number" [(ngModel)]="precioVenta" placeholder="" />
    </div>

    <div style="margin: 20px 0;">
      <ion-button expand="block" color="primary" (click)="registrarProducto()">Registrar</ion-button>
      <ion-button expand="block" color="danger" (click)="cancelRegistration()">Cancelar</ion-button>
    </div>
    
  </div>
</ion-content>
