<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cancelOrder()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Generar Orden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-color: var(--ion-color-fondo);">
  <div style="padding: 20px;">
    
    <div class="form-group">
      <label class="dark-label">Nombre</label>
      <input type="text" [(ngModel)]="nombre" placeholder="" />
    </div>

    <div class="form-group">
      <label class="dark-label">Descripción</label>
      <input type="text" [(ngModel)]="descripcion" placeholder="" />
    </div>

    <div class="form-group">
      <label class="dark-label">Unidad</label>
      <input type="text" [(ngModel)]="unidad" placeholder="" />
    </div>

    <div class="form-group">
      <label class="dark-label">Precio</label>
      <input type="number" [(ngModel)]="precio" placeholder="" />
    </div>

    <div style="margin: 20px 0;">
      <ion-button expand="block" color="primary" (click)="registrarOrden()">Registrar</ion-button>
      <ion-button expand="block" color="danger" (click)="cancelOrder()">Cancelar</ion-button>
    </div>

  </div>
</ion-content>
