<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Órdenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-color: var(--ion-color-fondo);">
  <div style="padding: 20px;">
    <!-- Puedes agregar contenido adicional aquí más adelante -->
  </div>
</ion-content>
