<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cancelRegistration()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">

    <div class="form-group">
      <label>Nombre(s)</label>
      <input type="text" [(ngModel)]="nombre" placeholder="" />
    </div>

    <div class="form-group">
      <label>Apellido Paterno</label>
      <input type="text" [(ngModel)]="apellidoPaterno" placeholder="" />
    </div>

    <div class="form-group">
      <label>Apellido Materno</label>
      <input type="text" [(ngModel)]="apellidoMaterno" placeholder="" />
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="email" placeholder="" />
    </div>

    <div class="form-group">
      <label>Usuario</label>
      <input type="text" [(ngModel)]="usuario" placeholder="" />
    </div>

    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" [(ngModel)]="password" placeholder="" />
    </div>

    <div class="form-group">
      <label>Código Postal</label>
      <input type="number" [(ngModel)]="codigoPostal" placeholder="" />
    </div>

    <div class="form-group">
      <label>Municipio</label>
      <input type="text" [(ngModel)]="municipio" placeholder="" />
    </div>

    <div class="form-group">
      <label>Estado</label>
      <input type="text" [(ngModel)]="estado" placeholder="" />
    </div>

    <div class="button-group">
      <ion-button expand="block" color="primary" (click)="registrarUsuario()">Registrar</ion-button>
      <ion-button expand="block" color="danger" (click)="cancelRegistration()">Cancelar</ion-button>
    </div>
    
  </div>
</ion-content>
