ion-content {
    --background: var(--ion-color-fondo); // Fondo de la p치gina en color "fondo"
    color: var(--ion-color-dark); // Texto oscuro en la p치gina
  }
  
  .content-wrapper {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px; // Espaciado entre campos
  }
  
  label {
    color: var(--ion-color-dark); // Color oscuro para las etiquetas
  }
  
  input {
    width: 100%; // Ancho completo
    padding: 10px; // Espaciado interno
    border: 1px solid var(--ion-color-dark); // Borde oscuro
    border-radius: 5px; // Bordes redondeados
    background-color: var(--ion-color-fondo); // Fondo del input en color "fondo"
    color: var(--ion-color-dark); // Color de texto dentro del input
    font-size: 16px; // Tama침o de fuente
  }
  
  input::placeholder {
    color: var(--ion-color-dark); // Color del placeholder en oscuro
  }
  
  .button-group {
    margin: 20px 0;
  }

  textarea {
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tama침o de letra */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    box-sizing: border-box; /* Incluye padding y borde dentro del ancho */
  }
  
  textarea::placeholder {
    color: #888888; /* Color del texto del placeholder */
    font-style: italic; /* Placeholder en cursiva */
  }
  