ion-content {
    --background: var(--ion-color-fondo); /* Fondo principal con el color "fondo" */
  }

  ion-fab-button {
    --background: var(--ion-color-primary);
    --color: white; /* Cambia el color del ícono si lo prefieres */
  }
  