
:root {
    
    --ion-color-primary: #127622; 
    --ion-color-secondary: #888988; 
    --ion-color-tertiary: #ffffff; 
    --ion-color-light: #ffffffcf;
    --ion-color-dark: #000000; 
    --ion-color-fondo: #ffffff;
  }
  

  