ion-menu {
  --background: var(--ion-color-fondo); /* Aplica el color de fondo a todo el menú */
  color: var(--ion-color-dark); /* Asegura que todo el texto sea negro */
}

ion-content {
  --background: var(--ion-color-fondo); /* Fondo del contenido del menú */
}

.menu-container {
  background-color: var(--ion-color-fondo); /* Fondo blanco para todo el contenido */
  height: 100%; /* Asegúrate de cubrir todo el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
}

ion-item {
  --background: var(--ion-color-fondo); /* Fondo blanco para los ítems */
  --color: var(--ion-color-dark); /* Texto negro */
}

ion-icon {
  font-size: 24px;
  color: var(--ion-color-dark); /* Íconos en negro */
}

ion-title {
  color: var(--ion-color-dark); /* Título negro */
}

ion-toolbar {
  --background: var(--ion-color-fondo); /* Fondo blanco para la barra */
  color: var(--ion-color-dark); /* Texto negro */
}

