<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary"> 
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content style="background-color: var(--ion-color-fondo);"> 
      <div class="logo-container">
        <img src="assets/img/logo_farmacia.png" alt="Logo de la Farmacia" class="logo">
      </div>

      <!-- Calendario -->
      <div class="calendar-container">
        <ion-datetime display-format="DD/MM/YYYY" placeholder="Selecciona una fecha"></ion-datetime>
      </div>

      <ion-card (click)="navigateTo('proveedores')" class="custom-card">
        <ion-card-header>
          <ion-card-title>Proveedores</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Gestiona tus proveedores.
        </ion-card-content>
      </ion-card>

      <ion-card (click)="navigateTo('orden-compra')" class="custom-card">
        <ion-card-header>
          <ion-card-title>Orden de Compra</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Realiza tus órdenes de compra.
        </ion-card-content>
      </ion-card>

      <ion-card (click)="navigateTo('productos')" class="custom-card">
        <ion-card-header>
          <ion-card-title>Productos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Visualiza y gestiona tus productos.
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
</ion-app>

<style>
  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .logo {
    width: 80%;
    max-width: 200px;
  }

  .calendar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .custom-card {
    margin: 15px;
    padding: 20px;
    background-color: var(--ion-color-fondo);
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Suaviza el borde */
    transition: transform 0.2s;
    cursor: pointer;
  }

  .custom-card:hover {
    transform: scale(1.05); /* Hace que los botones crezcan ligeramente al pasar el mouse */
  }

  ion-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--ion-color-dark);
  }

  ion-card-content {
    color: var(--ion-color-dark);
    font-size: 1rem;
  }
</style>
