.cards-container-horizontal {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px; /* Aumentado para más espacio debajo de las tarjetas superiores */
}

.cards-container-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; /* Más espacio entre las tarjetas */
}

.custom-card {
  width: 95%; /* Aumenta el ancho de las tarjetas al 95% del ancho de la pantalla */
  height: 150px; /* Aumenta la altura de las tarjetas */
  background-color: var(--ion-color-fondo);
  border-radius: 15px;
  transition: transform 0.2s;
  cursor: pointer;
}

.custom-card:hover {
  transform: scale(1.05);
}

ion-card-title {
  font-size: 1.5rem; /* Aumenta el tamaño del título */
  font-weight: bold;
  color: var(--ion-color-dark);
}


ion-content {
  --background: var(--ion-color-fondo);
  color: var(--ion-color-dark);
}


.cards-container {
  display: flex;
  justify-content: space-around; /* Espaciado igual entre tarjetas */
  margin: 16px 0; /* Separación vertical */
}

.custom-card {
 
  text-align: center; /* Centrar contenido */
  --background: var(--ion-color-light); /* Fondo claro */
}

.custom-card ion-card-header {
  font-weight: bold;
  font-size: 1.2rem;
}

.icon-style {
  font-size: 48px; /* Tamaño más grande de los íconos */
  color: black; /* Color negro */
  margin-top: 5px; /* Separación del título */
}


.stats-container {
  margin: 16px;
  padding: 16px;
  background-color: var(--ion-color-light);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.stats-title {
  font-size: 1.5rem;
  color: var(--ion-color-dark);
  text-align: center;
  margin-bottom: 16px;
}

.stats-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.2rem;
  color: var(--ion-color-dark);
}

.stat-item ion-icon {
  font-size: 24px;
  color: var(--ion-color-primary);
}



.stats-container {
  margin: 16px;
  padding: 16px;
  background-color: var(--ion-color-light);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.stats-title {
  font-size: 1.5rem;
  color: var(--ion-color-dark);
  margin-bottom: 16px;
}

canvas {
  max-width: 100%;
  height: auto;
}
