<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary"> 
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content style="background-color: var(--ion-color-fondo);">

      <!-- Tarjetas de Ventas y Compras -->
      <div class="cards-container-horizontal">
        <ion-card class="custom-card" (click)="goToVentas()">
          <ion-card-header>
            <ion-card-title>Ventas</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card class="custom-card" (click)="goToCompras()">
          <ion-card-header>
            <ion-card-title>Compras</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>

      <!-- Tarjetas de Venta de Producto y Generar Orden (una debajo de la otra) -->
      <div class="cards-container-vertical">
        <ion-card class="custom-card" (click)="goToVentaProducto()">
          <ion-card-header>
            <ion-card-title>Venta de Producto</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card class="custom-card" (click)="goToGenerarOrden()">
          <ion-card-header>
            <ion-card-title>Generar Orden de Compra</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-content>
  </div>
</ion-app>
