.cards-container-horizontal {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px; /* Más espacio debajo de las tarjetas superiores */
}

.cards-container-vertical {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra las tarjetas verticalmente */
  gap: 20px; /* Espacio entre las tarjetas */
}

.custom-card {
  width: 90%; /* Las tarjetas ahora ocupan el 90% del ancho de la pantalla */
  background-color: var(--ion-color-fondo);
  border-radius: 15px;
  transition: transform 0.2s;
  cursor: pointer;
}

.custom-card:hover {
  transform: scale(1.05);
}

ion-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--ion-color-dark);
}


ion-content {
  --background: var(--ion-color-fondo);
  color: var(--ion-color-dark);
}