<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cancelRegistration()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro Proveedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-color: var(--ion-color-fondo);">
  <div style="padding: 20px;">

    <div class="form-group">
      <label>Nombres</label>
      <input type="text" [(ngModel)]="nombres" placeholder="" />
    </div>

    <div class="form-group">
      <label>Apellidos</label>
      <input type="text" [(ngModel)]="apellidos" placeholder="" />
    </div>

    <div class="form-group">
      <label>RFC</label>
      <input type="text" [(ngModel)]="rfc" placeholder="" />
    </div>

    <div class="form-group">
      <label>Teléfono</label>
      <input type="text" [(ngModel)]="telefono" placeholder="" />
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="email" placeholder="" />
    </div>

    <div class="form-group">
      <label>Calle</label>
      <input type="text" [(ngModel)]="calle" placeholder="" />
    </div>

    <div class="form-group">
      <label>Colonia</label>
      <input type="text" [(ngModel)]="colonia" placeholder="" />
    </div>

    <div class="form-group">
      <label>Código Postal</label>
      <input type="number" [(ngModel)]="codigoPostal" placeholder="" />
    </div>

    <div class="form-group">
      <label>Municipio</label>
      <input type="text" [(ngModel)]="municipio" placeholder="" />
    </div>

    <div class="form-group">
      <label>Estado</label>
      <input type="text" [(ngModel)]="estado" placeholder="" />
    </div>

    <div style="margin: 20px 0;">
      <ion-button expand="block" color="primary" (click)="registrarProveedor()">Registrar</ion-button>
      <ion-button expand="block" color="danger" (click)="cancelRegistration()">Cancelar</ion-button>
    </div>
    
  </div>
</ion-content>
